@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/proximanova-thin.otf") format("opentype");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/proximanova-light.otf") format("opentype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/proximanova-regular.otf") format("opentype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/proximanova-semibold.otf") format("opentype");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/proximanova-bold.otf") format("opentype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/proximanova-extrabold.otf") format("opentype");
	font-style: normal;
	font-weight: 800;
}